<footer>
  <div class="container-fluid" style="background-color:#4B4B4B ; padding: 20px 20px ; color: white; font-family: 'Ubuntu'; font-size: 1.15em">
    <div class="row no-gutters">
      <div class="col-12 col-md-3">
        <p>
          <strong style="font-size: 1.2em">Address</strong>
          <br>
          <br>The Bech Daal Theme,
          <br>4th Store, Beside that building,
          <br>Mumbai.
          <br>
          <br><strong style="font-size: 1.2em">Contacts</strong>
          <br>
          <br>Email : <bechdaal1@gmail class="com"></bechdaal1@gmail>
          <br>Phone: 800 1234 5678
          <br>
        </p>
      </div>
      <div class="col-12 col-md-3">
        <p>
          <strong style="font-size: 1.2em">Timings</strong>
          <br>
          <br>Mon - Fri: 7am - 10pm
          <br>​​Saturday: 8am - 10pm
          <br>Sunday: 8am - 11pm
          <br>
          <br><strong style="font-size: 1.2em">Feedback</strong>
          <br><br>
          <%# <input type="text" id="fname" name="fname" placeholder="Suggestions" style="height: 30px; width: 160px; text-align: center">
          <button type="button" class="btn btn-outline-light btn-sm" style="height: 30px; margin-left: 20px">Submit</button> %>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Suggestions" style="height: 30px; width: 160px; text-align: center">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-light btn-sm" style="height: 30px;">Submit</button>
          </div>
        </div>
        <br>
        </p>
      </div>
      <div class="col-12 col-md-6" style="text-align: center">
        <br>
        <div><iframe frameborder="0" width="85%" height="190px" style="border:0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d241316.64332144568!2d72.74109713631994!3d19.08252232482484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c6306644edc1%3A0x5da4ed8f8d648c69!2sMumbai%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1591366366598!5m2!1sen!2sin"
            allowfullscreen=""></iframe></div>
      </div>
    </div>
    <div class="media-container-row">
      <div class="col-sm-12" style="text-align: center">
        <hr style="height:1px;border-width:0;color:white;background-color:white">
        <p>(C) 2020. All Rights Reserved</p>
        <span class="fb icona"><i class="fa fa-facebook-official"></i></span>
        <span class="instagram icona"><i class="fa fa-instagram"></i></span>
        <span class="twitter icona"><i class="fa fa-twitter"></i></span>
        <span class="pinterest icona"><i class="fa fa-pinterest"></i></span>
        <span class="google icona"><i class="fa fa-google-plus"></i></span>
      </div>
    </div>
  </div>

</footer>

</html>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<!-- Bootstrap JS CDN -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<%# fontawesome CDN %>
<script src="https://kit.fontawesome.com/c4a818ae29.js" crossorigin="anonymous"></script>

<script type="text/javascript">
  function isEmail(email) {
    var regex1 = /^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
    return regex1.test(email);
  }
  function isPhoneNo(number) {
    var regex2 = /^\d{10}$/;
    return regex2.test(number);
  }
  $('.input-email').each(function () {
    var elem = $(this);
    elem.data('oldVal', elem.val());
    // Look for changes in the value
    elem.bind("propertychange change click keyup input paste", function (event) {
      // If value has changed...
      if (elem.data('oldVal') != elem.val()) {
        // Do action
        if (isEmail(elem.val()) || isPhoneNo(elem.val())) {
          $('.mail-check').css('visibility', 'visible');
        }
        else {
          $('.mail-check').css('visibility', 'hidden');
        }

      }
    });
  });
  $('#togglePass').click(function (e) {
    // toggle the type attribute
    const type = $('#password').attr('type') === 'password' ? 'text' : 'password';
    $('#password').attr('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });
</script>

</html>
