<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Navbars</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-dark bg-li" style="background-color:rgb(114, 187, 169);">
        <a class="navbar-brand" href="#" style="margin-right:30%;">BechDaal</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="width:50%;">
            <ul class="navbar-nav" id="log-reg">
                <li class="nav-item active mr-2">
                    <a class="nav-link" href="#">Classifieds <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Login/<span>SignUp</span></a>
                </li>
                <!--
                     <li>
                    <button>PUT TOGGLE SEARCH BUTTON HERE!!</button>
                </li> -->
            </ul>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" id="hellouser">
                    Hello Rishabh
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" style="font-weight: bold;">Manage my Ads</a>
                    <a class="dropdown-item" href="#">Messages</a>
                    <a class="dropdown-item" href="#">Favorites</a>
                    <a class="dropdown-item" href="#">My Details</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-muted" href="#"><strong>Log Out</strong></a>
                </div>
            </div>
        </div>
    </nav>
    <nav class="searchbar">
        <ul class="searchbar-items">
            <li style=>
                <p>Want something?</p>
            </li>
            <li>
                <input class="input1" type="text" placeholder="Type Here" />
            </li>
            <li style="margin:0;">
                <p>In?</p>
            </li>
            <li>
                <input class="input2" type="text" placeholder="Your location" />
            </li>
            <li>
                <button class="locationsubmit">Go!</button>
            </li>
        </ul>
    </nav>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
