<%-include('partials/miniheader')-%>
<div class="container">
    <%# <h2>Your Ad has been Submitted for verification.
        It will soon be live on our website
    </h2> %>


    <div class="jumbotron">
        <h1 class="display-4">Thank You!</h1>
        <p class="lead">Your Ad has been Submitted for verification.
            It will soon be live on our website</p>
        <hr class="my-4">
    </div>
</div>
<%-include("partials/footer")-%>
