<%-include('partials/miniheader')%>
<%-include("partials/sidebar")-%>
<style>
    @media (max-width: 640px) {
        .something1 {
            margin-left: -10px;
        }
    }
    .something2 {
        margin-left: 30%;
    }
</style>

<div class="something2 something1">
    <form method="post" action="/payment/ad">
        <h2>Register for your Ad space on BechDaal</h2>
        <br>
        <p>Select your Ad type</p>
        <div class="form-group">
            <label for="featured">Featured Ads</label>
            <input type="radio" id="featured" name="type" onchange="calculate()" value="Featured" />
            <label for="unfeatured">Un-featured</label>
            <input type="radio" id="unfeatured" name="type" onchange="calculate()" value="Unfeatured" checked>
        </div>
        <div class="form-group">
            <label for="quantity" id="qty">Number of ads</label>
            <input type="number" style="width: 20%" onchange="calculate()"  name="quantity" id="quantity" class="form-control" required/>
        </div>
        <div id="price">
            <h4>Price per Ad: Rs 20</h4>
        </div>

        <div id="totalPrice">

        </div>
        <button type="submit" onclick="calculate()">
            Submit
        </button>
    </form>
    <script type="text/javascript">
        $('#featured').click(()=>{
            $('#price').empty()
            $('#price').append('<h4>Price per Ad: Rs 20</h4>')
        })
        $('#unfeatured').click(()=>{
            $('#price').empty()
            $('#price').append('<h4>Price per Ad: Rs 10</h4>')
        })
        function calculate() {
            let quant = $('#quantity').val()
            let price=0;
            if($('#featured').is(':checked')){
                price = 20
            }
            if($('#unfeatured').is(':checked')){
                price = 10
            }
            var amount = quant*price;
            $('#totalPrice').empty()
            $('#totalPrice').append(`<h3>Total Price is ${amount}</h3>`)
        }
    </script>

</div>
<%-include('partials/footer')%>