<%-include('partials/header')%>

<head>
  <link rel="stylesheet" href="/css/myoffer.css">
</head>

<body>
  <div class="container">
    <hr>
    <label>Ad Name:<input class="inputstyle"></input></label><br>
    <label>Buyer Name:<input class="inputstyle"></input></label><br>
    <label>Price Quoted:<input class="inputstyle"></input></label>
    <hr>
  </div>
</body>
<%-include('partials/footer')%>
