<%-include('partials/miniheader')%>
<%-include('partials/sidebar')%>


<head>
  <title>My Wishlist</title>
  <link rel="stylesheet" href="https://storage.googleapis.com/bechdaal_bucket/assets/css/myWishlist.css">
</head>

<body>
  <div class="container">
    <div class="row" id="main">
      <%if (array.length==0){%>
      <center>
        <div class="jumbotron jumbotron-fluid" style="margin-bottom:10%;margin-left: 5%;">
          <div class="container">
            <h1 class="display-4">You have an empty Wishlist!</h1>
            <p class="lead">Browse some ads to add to your wishlist</p>
          </div>
        </div>
      </center>
      <%} else {%>
      <div class="mainContent row something1">
      </div>
      <%}%>
        </div>
        <ul class="pagination" style="float:right;margin-bottom:10px;">
          <li class="page-item">
            <a class="page-link" href="#" id = "previous" aria-label="Previous">
              <i class="fa fa-angle-left"></i>
            </a>
          </li>
          <li class="page-item"><a id="first"class="page-link" href="#">1</a></li>
          <li id="next" class="page-item">
            <a class="page-link" href="#" id = "Next" >
              <i class="fa fa-angle-right"></i>
            </a>
          </li>
        </ul>
    <br>
    <br>
    </div>
</body>
<script src="https://storage.googleapis.com/bechdaal_bucket/assets/js/myWishlist.js"></script>
<%-include('partials/footer')%>