<%-include('partials/header')-%>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <form method="post" action="/sell/">
        <label>Title</label>
        <input placeholder="title" name="title"/>
        <br />
        <label>Category</label>
        <select>
            category
        </select>
        <br />
        <label>Sub-category</label>
        <select>
            category
        </select>
        <br />
        <label for="model">Brand</label>
        <input />
        <br />
        <label for="brand">Model</label>
        <input />
        <br />
        <label for="model">Price</label>
        <input />
        <br />
        <label for="description">Description</label>
        <textarea></textarea>
        <hr />
        <label for="images">Upload images of your device (maximum of 9) </label>
        <div class="grid-container">
            <div class="grid-item">
                <input type="file" name="myFile" onchange="changeText()" id="fileInput" />
                <button class="fileButton">Choose File</button>
                <span class="fileLabel"></span>
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
        </div>
        <!-- uploading images here  -->
        <label for="contact">Contact No</label>
        <input />
        <br />
        <label for="address">Address</label>
        <textarea></textarea>
        <button type="submit" >Submit</button>
    </form>
    <script>
        Array.prototype.forEach.call(document.querySelectorAll('.fileButton'), function (button) {
            const hiddenInput = button.parentElement.querySelector('#fileInput')
            let label = button.parentElement.querySelector('.fileLabel')
            const defaultText = "No file selected";
            label.textContent = defaultText;
            button.addEventListener('click', function (e) {
                e.preventDefault();
                hiddenInput.click();
            })
            hiddenInput.addEventListener('change', function () {
                const newText = "1 file selected"
                label.textContent = '1 file selected'
            })

        })
    </script>
</body>

</html>
<%-include('partials/footer')-%>
