<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <form>
            <label name="title">Title:</label>
            <input type="text" placeholder="type here" name="title" />
            <label name="category">Category:</label>
            <select name="category">
            </select>
            <label name="sub-category">Sub-Category:</label>
            <input type="text" placeholder="type here" name="sub-category" />
            <label name="brand">Brand:</label>
            <input type="text" placeholder="type here" name="brand" />
            <label name="title">Description:</label>
            <input type="text" placeholder="type here" name="title" />
            <label name="title">Price:</label>
            <input type="number" placeholder="type here" name="price" />
            <label name="address">Address:</label>
            <textarea name="address" type="text"></textarea>
            <label name="contact">Contact No:</label>
            <input type="number" placeholder="type here" name="contact" />
            <!-- images upload comes here-->
            <button>Submit Ad</button>
        </form>
    </main>
</body>

</html>