<%-include('partials/header')-%>
    <form method="post" action="/sell/" enctype="multipart/form-data">
        <label>Title</label>
        <input placeholder="title" name="title"/>
        <br />
        <label>Category</label>
        <select>
            category
        </select>
        <br />
        <label>Sub-category</label>
        <select>
            category
        </select>
        <br />
        <label for="brand">Brand</label>
        <input name="brand" />
        <br />
        <label for="model">Model</label>
        <input name="model" />
        <br />
        <label for="price">Price</label>
        <input name="price" />
        <br />
        <label for="description">Description</label>
        <textarea name="description"></textarea>
        <hr />
        <label for="images">Upload images of your device (maximum of 9) </label>
        <div class="grid-container">
            <div class="grid-item">
                <input type="file" name="images" onchange="changeText()" id="fileInput" />
                <button class="fileButton">Choose File</button>
                <span class="fileLabel"></span>
            </div>
            <div class="grid-item">
                <input type="file" name="images" onchange="changeText()" id="fileInput" />
                <button class="fileButton">Choose File</button>
                <span class="fileLabel"></span>
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
            <div class="grid-item">
                IMAGE
            </div>
        </div>
        <!-- uploading images here  -->
        <label for="contact">Contact No</label>
        <input name="contact" />
        <br />
        <label for="address">Address</label>
        <textarea name="address"></textarea>
        <button type="submit" >Submit</button>
    </form>
    <script>
        Array.prototype.forEach.call(document.querySelectorAll('.fileButton'), function (button) {
            const hiddenInput = button.parentElement.querySelector('#fileInput')
            let label = button.parentElement.querySelector('.fileLabel')
            const defaultText = "No file selected";
            label.textContent = defaultText;
            button.addEventListener('click', function (e) {
                e.preventDefault();
                hiddenInput.click();
            })
            hiddenInput.addEventListener('change', function () {
                const newText = "1 file selected"
                label.textContent = '1 file selected'
            })

        })
    </script>

<%-include('partials/footer')-%>
