<%-include('partials/header')-%>
<div class="container">
  <div class="col-sm-4 mx-auto">
    <h1>Change Password</h1>
  </div>
  <div class="col-sm-6 col-sm-offset-3 mx-auto">
    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
    <form action="/forgot/resetpassword" method="post" id="passwordForm">
      <input type="hidden" name="id" value="<%= payload.id%>" />
      <input type="hidden" name="token" value="<%=token%>" />
      <input type="password" class="input-lg form-control" name="password" id="password1" placeholder="New Password" autocomplete="off">
      <div class="row">
        <div class="col-sm-6">
          <span id="8char" class="fas fa-times" style="color:#FF0004;"></span> 8 Characters Long<br>
          <span id="ucase" class="fas fa-times" style="color:#FF0004;"></span> One Uppercase Letter
        </div>
        <div class="col-sm-6">
          <span id="lcase" class="fas fa-times" style="color:#FF0004;"></span> One Lowercase Letter<br>
          <span id="num" class="fas fa-times" style="color:#FF0004;"></span> One Number
        </div>
      </div>
      <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off">
      <div class="row">
        <div class="col-sm-12">
          <span id="pwmatch" class="fas fa-times" style="color:#FF0004;"></span> Passwords Match
        </div>
      </div>
      <center><input type="submit" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Password..." value="Change Password"></center>
    </form>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/reset.js" charset="utf-8"></script>
<%-include('partials/footer')-%>
