<!-- views/signup.ejs -->
<!doctype html>
<html>



<head>
  <title>Node Authentication</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <!-- load fontawesome -->
  <link rel="stylesheet" type="text/css" href="/css/signupStyles.css">
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Piedra">
  <style>
    body {
      padding-top: 50px;
    }

    .icon{
      height:50px;
      width: 50px;
      padding: 10px;
    }
    .iconbig{
      height:700px;
      width: 700px;
      padding: 100px;
    }
    .iconavg{
      height:130px;
      width: 80px;
      padding: 10px;
      margin-bottom: 50px;
      margin-right: 15px;
    }
    .title{
      font-size: 45px;
      color:rgb(233, 57, 57);
      font-family: Piedra;
    }
    nav-item{
      font-family: Piedra;
      font-size: 30px;
      padding:15px;
      margin: 15px;
    }


  </style>
</head>

<body>
  <div id="container">
    <div class="container" id="subcontainer-1">
      <nav>
        <nav-item>Home</nav-item>
        <nav-item>Our Team</nav-item>
        <nav-item>About Us</nav-item>
        <nav-item>Contact</nav-item>
      </nav>
      <img class="iconbig" src="/images/3.png" alt="img1" />
    </div>
    <div class="container" id="subcontainer-2">
      <div>
        <img class="iconavg" src="/images/Bech Daal Logo.png" alt="img1" /> <span class="title">BECH DAAL</span>

      </div>
      <form action="/signup" method="post">
      <div class="card">
        <div class="iconContainer">
          <p><i class="fa fa-user" aria-hidden="true"></i></p>
        </div>
        <div class="inputContainer" style="width:70%">
          <label class="text-muted">Enter Username</label>
          <br />
          <input class="input" type="text" name="username" placeholder="Type Here" />
        </div>
        <div class="checkboxCont">
          <input class="checkbox" type="checkbox" style="margin-left: 30px;">
        </div>
      </div>
      <div class="card">
        <div class="iconContainer">
          <p><i class="fa fa-envelope" aria-hidden="true"></i>
          </p>
        </div>
        <div class="inputContainer" style="width:70%">
          <label class="text-muted">Enter Email/Mobile No.</label>
          <br />
          <input class="input" type="email" name="email" placeholder="Type Here" />
        </div>
        <div class="checkboxCont">
          <input class="checkbox" type="checkbox" style="margin-left: 30px;">
        </div>
      </div>
      <div class="card">
        <div class="iconContainer">
          <p><i class="fa fa-key" aria-hidden="true"></i>
          </p>
        </div>
        <div class="inputContainer" style="width:70%">
          <label class="text-muted">Set a Password</label>
          <br />
          <input class="input" type="password" name="password" placeholder="Type Here" />
        </div>
        <div class="checkboxCont">
          <input class="checkbox" type="checkbox" style="margin-left: 30px;">
        </div>
      </div>
      <div class="card2">
        <a id="haveAccount">Already have an account</a>
      </div>
      <div class="card3">
        <button id="signupBtn" type="submit">Sign Up</button>
      </div>
      <div class="card4">
        <p id="altSignuptext">Or you can Sign Up using</p>
        <div class="imgContainer" style="flex-direction: row;">
          <img class="icon" src="/images/search.png" alt="img1" />
          <img class="icon" src="/images/facebook.png" alt="img2" />
          <img class="icon" src="/images/twitter.png" alt="img3" />
        </div>
      </div>
      </form>
    </div>
  </div>
</body>

</html>
