@media (max-width: 780px) {
  .footer-details {
    text-align: center;
  }
  .aboutUs {
      display: none;
  }
}
body{
  font-family: 'Raleway',sans-serif;
}
footer{
  position: absolute;
  top: 30;
  right:0;
  width:100%
}
