.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.one {
  background-color: #f1f1f1;
  width: 200px;
  margin: 20px 40px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  padding-top: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 5px lightgray;
  border-radius: 20px;
}

.two {
  width: 330px;
  height: 250px;
  margin: 20px 20px;
  background-color: #ffffff;
  width: 330px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 1px solid black;
}

.images{
    height:90px;
    width: 90px;
    /* background-color: black; */
    margin-top: 20px;
    margin-left: 30px;
}
.icondisplay{
    float:right;
    padding:5px;
}
.para{
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
    margin: 0px;
    height: 35px;
}
k{
    float: right;
    font-size: 13px;
    padding: 10px;

}

.Img{
    width:75px;
    height: 75px;
    border-radius: 35px;
}
.pagination{
  margin-left: 80%;
}
#cont{
  justify-content: center;
}
#previous{
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px ;
  border:1px solid rgba(0, 0, 0, 0.815);
  color:black;
  font-size: 18px;
}
#first{
  border:1px solid rgba(0, 0, 0, 0.815);
  color:black;
  font-size: 18px;
}
#Next{
  border-top-right-radius: 20px;
  border-bottom-right-radius:20px ;
  border:1px solid rgba(0, 0, 0, 0.815);
  color:black;
  font-size: 18px;
}
