.title{
  font-size: 45px;
  color:rgb(233, 57, 57);
  font-family: Piedra;
  /* margin-top: 100px; */
}
.iconavg{
    width: 55px;
    height: 105px;
    margin:0 15px 50px 50px;

}

.Navbar{
    text-align: center;
    font-family: Piedra;
    font-size: 30px;
}

#card-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 8px;
  border: 0.2px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-top: 2px;
}
.checkboxCont {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

input {
  border: none;
  font-size: 14px;
  padding: 3px;
}

label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
  transition: ease-in-out 0.5s;
}

input:placeholder-shown+label {
  cursor: text;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, rem) scale(1.5);
}

input:not(:placeholder-shown)+label,
input:focus+label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.card3 {
  margin-top: 1rem;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
}


#signupBtn {
  background-color: #4d94ff;
  font-weight: bold;
  font-size: larger;
  border: 0.5px solid dimgray;
  border-radius: 25px;
  padding: 5px 10px;
  color: #fffafa;
  letter-spacing: 1px;
  cursor: pointer;
}

#signupBtn:hover {
  box-shadow: 0 6px 9px 0 rgba(96, 154, 221, 0.801);
  transition: ease-in-out 0.5s;
}
