.car {
  width: 270px;
  height: 350px;
  border-radius: 25px;
}

.Img {
  max-width: 205px;
  height: 150px;
}

.text {
  margin: 10px 0px;
}

.paddings {
  padding: 20px 0px;
}

.label-text {
  margin: 10px 0px 10px 30px;
  background-color: #ff6666;
  border-radius: 25px;
  padding: 0px 10px;
}

/* @media (max-width: 768px) {
  .car {
    width: 60%;
    border-radius: 25px;
  }
} */
.pagination{
  float:right;
  margin-bottom: 2%;
  outline: none;
}
#first{
  color:#4dd2ff;
  font-size: 20px;
}
.page-link{
  color:#093d6d;
  font-size:20px;
}
.page-item{
  margin:3px;
}
.mainContent{
  margin-left: 5%;
}

/* Table css */
.spacing{
    width: 5%;
    text-align: right;
}
td, th{
    padding:2px 5px;
    text-align: center;
}
table{
    margin-left: 1700%;
}
