body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* footer {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
} */

* {
  margin: 0px;
  padding: 0px;
  margin-bottom: 0px;
}

a {
  color: #00B7FF;
}

.icona {
  padding-left: 2px;
  padding-right: 2px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: mediumaquamarine;
}

.searchbar-items {
  width: 60%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  margin-top: 20px
} */

.input1 {
  width: 180px;
  border: none;
  background-color: mediumaquamarine;
  border-bottom: 2px solid gray;
  color: dimgray;
}
.input1:focus,
  textarea { outline: none ! important; }


.input2 {
  width: 180px;
  border: none;
  background-color: mediumaquamarine;
  border-bottom: 2px solid gray;
  color: dimgray;

}
.input2:focus,
  textarea { outline: none ! important; }

.locationsubmit {
  background-color: rgb(161, 217, 221);
  border: 0.5px solid gray;
  border-radius: 7px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 7px;
  padding-left: 7px;
  box-shadow: 2px 2px 2px gray;
  transition: ease-in-out 0.2s;
}

.locationsubmit:hover {
  font-size: 1.1rem;
  font-weight: bold;
}

#hellouser {
  color: black;
}

#log-reg {
  margin-right: 10%;
  margin-left: 50%;
}

#sellOption {
  text-decoration: none;
  color: white;
  align-self: center;
  transition: ease-in-out 0.1s;
}

#sellOption:hover {
  background-color: rgb(116, 204, 145);
  border: 1px solid rgb(116, 204, 145);
  border-radius: 10px;
}
