<%- include("../partials/header")-%>

<body>
    <div style="padding:10px">
        <%if(typeof user !== 'undefined'){%>
        <input type="hidden" value="<%=user.LoginType%>">
        <%}%>
        <pre>
            
Refund Policy

Refunds
In case you haven't received your item or have received some other item. Raise a complaint in the complaint section. We will send you an email to notify you that we have received your
request. We will also notify you of the approval or rejection of your refund. If you are approved, then your refund will be processed, and a credit will automatically be applied to your
credit card or original method of payment, within a certain amount of days.

Late or missing refunds
If you haven’t received a refund yet, first check your bank account again.
Then contact your credit card company, it may take some time before your refund is officially posted.
Next contact your bank. There is often some processing time before a refund is posted.
If you’ve done all of this and you still have not received your refund yet, please contact us at the support section or admin@bechdaal.tech
            </pre>
    </div>
<%-include("../partials/footer")-%>
